#footer{
    width:1000px;
    height:250px;
    margin:auto;
    margin-top:100px;
}

#footer_1{
    width:100%;
    height:25%;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}

#footer_1>ul{list-style-type: none; margin-top: 18px; margin-left:70px;}
#footer_1>ul>li{float:left; margin-right:180px;}
#footer_1>ul>li a{
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    color: rgb(116, 152, 107);
    font-size: 17px;
    font-weight: 900;}
#footer_1 a:hover{
    transition: .6s; color:  rgb(225, 212, 169);
}

#footer_2{
    width:100%;
    height:25%;
}
#footer_2>a{line-height:75px; margin-left:50px;}

#footer_3{
    width:100%;
    height:50%;
}
#footer_3 div{
    float:left;
}
#footer_3_1, #footer_3_2{
    width:50%;
    height:100%;
}
#footer_3_1>p, #footer_3_2>p{
    margin-left:50px;
    padding:10px;
    font-size: 13px;
}
#footer_3_2>p{margin-right:65px; text-align: right;}
#p3{margin-left:200px;}