div{box-sizing: border-box; }
/* div{border : 1px solid red;} */
#header{
    width:1000px;
    height:100px;
    padding-top: 20px;
    margin:auto;
    margin-bottom: 20px;
}
#header>div{
    height:100%;
    float:left;
}
#header_1{width:10%;position:relative;}
#header_2{width:42%;}
#header_3{width:25%;}
#header_4{width:23%;}

#header_1>a{line-height:70px;}

#header_2>ul{list-style-type: none; margin-top: 26px; margin-left: 10px;}
#header_2>ul>li{float:left; margin-right:14px; text-align:center;}
#header_2>ul>li a{
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    color: rgb(116, 152, 107);
    font-size: 16px;
    font-weight: 900;}
#header_2 a:hover{
    transition: .6s; color:  rgb(225, 212, 169);
}

#header_3>form{margin-top: 20px;}
#header_3>form>div{float: left;}
#search_text{width:240px}
#search_text>input{
    border-radius:20px 0px 0px 20px;
    padding:5px;
    padding-left:20px;
    background-color: rgba(116, 152, 107, 0.562);
    color:white;
    border:none;
    }
#search_text button{
    background-color: rgba(116, 152, 107, 0.562);
    border-radius:0px 20px 20px 0px;
    border:none;
}

#header_4{line-height:75px; font-size: 14px; }
#header_4 a{
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    color: rgb(116, 152, 107);
    font-weight: 900;
    margin-left:10px;}
#header_4 *{color: rgb(116, 152, 107)};
#header_4>.afterLogin{margin-left:10px;}
#header_4 a:hover, #header_4 a *:hover{ 
    transition: .6s;
    color:  rgb(225, 212, 169);
    transform: rotateY( 180deg );
}

/* TOP버튼, 문의하기 버튼 */
a#MOVE_TOP_BTN {
    position: fixed;
    right: 2%;
    bottom: 50px;
    display: none;
    z-index: 999;
}
#MOVE_REQUEST_BTN{
	position: fixed;
    right: 2%;
    bottom: 110px;
    display: none;
    z-index: 999;
}
#MOVE_REQUEST_BTN_AREA:hover{cursor:pointer;}
