/* content */
#content{
	font-family: 'Noto Sans KR', sans-serif;
	margin-left:50px;
}
#content1{
    width: 80%;
    padding-left: 50px;
    margin-top: 40px;
}
#title1{
    font-size:25px; 
    font-weight: bold;
}
#title2{
    margin-left: 10px;
    padding:3px;
    border:1px solid gray;
    border-radius: 5px;
    background-color: gray;
    font-size:16px;
    color:white;
}
#p1{
    font-weight: 600;
    color: rgb(116, 152, 107);
}
#nextBtn, #beforeBtn{
    float: left;
    width: 130px;
    height: 40px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
#nextBtn{background-color: rgb(116, 152, 107)}
#beforeBtn{background-color: #a1a0a0;}
#btns{clear: both;}
#approvalBtn, #cancelBtn{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
}
#approvalBtn{background-color: rgb(116, 152, 107);}
#cancelBtn{background-color: #d36e6e;}

/* story */
#p2{
    margin-top: -8px;
    color: #a1a0a0;
    font-size: 14px;
}
#p3{
    width: 80%;
    font-size: 16px;
    color: #7a7a7a;
}
#rewardPlan{
    resize: none;
    width: 70%;
}
#story{width: 70%;}
#agreeBtn{
    height: 40px;
    padding-left: 3px;
    padding-bottom: 2px;
    border: none;
    border-radius: 4px;
    background-color: rgb(116, 152, 107);
    font-size: 17px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
