div{box-sizing: border-box;}
.wrap{
    width: 1000px;
    height: 800px;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap>div{width: 100%;}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    z-index: 1;
    height: 50px;
    background-color:#d3d3d3;
}
#menu{
    position: fixed;
    left: 0;
    background-color: #d3d3d3;
}
#content{
    position: absolute;
    left: 200px;
    right: 0;
}
body{padding-top: 45px}
#menu_content{height: 100%;}
#header>div, #menu_content>div{
    float: left;
    height: 100%;
}
#menu{
    width: 200px;
    border: 1px solid #f0f0f0
}
#content{
    width: 100%;
    margin-top: 20px
}

/* header 스타일*/
#header>div{height: 100%;}
#logo{width: 11%;}
#adminId{width: 72%;}
#logout{width: 8%;}
#bar{width: 1%;}
#outPage{width: 8%;}
#adminId, #logout, #bar, #outPage{
    font-size: 17px;
    font-weight: 600;
    color: rgb(116, 152, 107);
    line-height: 45px;
    text-align: center;
}
#adminId{text-align: right;}

/* menu 스타일 */
#menu>div{width: 100%;}

/* menubar */
#accordian{text-align: center;}
#accordian>ul{margin-top: 0px;}
#accordian>ul>li{
    margin-left:-40px;
    border: 1px solid #f0f0f0;
}
#accordian li>h1{cursor: pointer;}
#accordian li>ul{display: none;}
#accordian p{font-size: 16px}
#accordian h4{
    line-height: 42px;
    font-weight: 600;
}
#abled{font-size: 16px;}
#accordian a{
    list-style: none;
    text-decoration: none;
    color: black;	
}
#subMenu a{
    position: relative;
    display: block;
    width: 196px;
    padding: 15px 20px;
    margin-left: -40px;
    border-bottom: 1px solid #eaeaea;
    background: #f8f8f8;
    color: #222;
    font-weight: 600;
    text-align: center;
   }
#subMenu a:hover{
    background: #ebeaea;
    border-bottom: 1px solid #bdbdbd;
    color: #222;
    transition: all .8s;
}
a:after{
    content: '';
    opacity: 0;
    transition: opacity .3s;
}
#ready:hover, #ready p:hover{color: rgb(116, 152, 107)}
#abled:hover{color: rgb(116, 152, 107)}

/* content */
#content1{
    width: 80%;
    padding-left: 50px;
    margin-top: 40px;
}
#title1{
    font-size:25px; 
    font-weight: bold;
}
#title2{
    margin-left: 10px;
    padding:3px;
    border:1px solid gray;
    border-radius: 5px;
    background-color: gray;
    font-size:16px;
    color:white;
}
#p1{
    font-weight: 600;
    color: rgb(116, 152, 107);
}
#nextBtn, #beforeBtn{
    float: left;
    width: 130px;
    height: 40px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
#nextBtn{background-color: rgb(116, 152, 107)}
#beforeBtn{background-color: #a1a0a0;}
#btns{clear: both;}
#approvalBtn, #cancelBtn{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
}
#approvalBtn{background-color: rgb(116, 152, 107);}
#cancelBtn{background-color: #d36e6e;}

/* story */
#p2{
    margin-top: -8px;
    color: #a1a0a0;
    font-size: 14px;
}
#p3{
    width: 80%;
    font-size: 16px;
    color: #7a7a7a;
}
#rewardPlan{
    resize: none;
    width: 70%;
}
#story{width: 70%;}
#agreeBtn{
    height: 40px;
    padding-left: 3px;
    padding-bottom: 2px;
    border: none;
    border-radius: 4px;
    background-color: rgb(116, 152, 107);
    font-size: 17px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
