/* content */
#content1{
    width: 80%;
    margin-top: 40px;
    padding-left:50px
}
#p1{
    font-weight: 600;
    color: rgb(116, 152, 107);
}
#title1{
    font-size:25px; 
    font-weight: bold;
}
#title2{
    margin-left: 10px;
    padding:3px;
    border:1px solid gray;
    border-radius: 5px;
    background-color: gray;
    font-size:16px;
    color:white;
}

/* basicEnroll */
button{cursor: pointer;}
#counter{
    margin-top: 2px;
    color: #a1a0a0;
    font-size: 12px;
}
#nextBtn{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(116, 152, 107);
    font-size: 18px;
    font-weight: 400;
    color: white;
}
#p2{
    width: 80%;
    margin-top: -1px;
    font-size: 13px;
    font-size: 18px;
    color: #5e5e5e
}
#createrWord{width: 70%;}
select{
    width: 70%;
    height: 30px;
    font-size: 16px;
}