/* content */
#content1{padding-left: 50px}
#summary{color:#757575;margin-top: -3px;}
#fundingDate{
    margin: -7px 0px 30px 25px;
}
#fundingDate2{
    font-size: 13px;
    color: rgb(116, 152, 107);
}
#content1 h4, #content1 h3{
    font-weight: 600;
}
#proStatus{
    width: 700px;
    height: 240px;
}
#supporter, #review{
    float: left;
    width: 250px;
    height: 150px;
    margin-top: 20px;
    margin-left: 65px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}
#title{
    margin-top: 33px;
    font-size: 18px;
    font-weight: 600;
    color: #797979;
}
#title2{
    margin-top: 20px;
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 600;
    color: #494949;
}
#change{color:rgb(116, 152, 107);}
#orderStatus{
    width: 700px;
    height: 300px;
}
#orderStatus div{
    float: left;
    margin-left:30px;
    width: 200px;
    height: 150px;
}
hr{
    width: 60%;
    margin-left: 0;
}