/* content */
#content1{padding-left: 50px}
#summary{color:#757575;margin-top: -3px;}
#title{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #797979;
}
#price{font-weight: 600;}
#payStatus{
    width: 750px;
    height: 150px;
}
#order{
    float:left;
    width: 330px;
    height: 110px;
    margin-left: 30px;
    border: 1px solid #a5a3a3;
    border-radius: 5px;
}
#payList{
    width: 750px;
    margin-top: -15px;
    border-top: 1px solid #a5a3a3;
}
#payListTable{border-bottom: 1px solid #a5a3a3;}
#pagingArea{
    width: 240px;
    height: 40px;
    margin-left: 250px;
}
.pagination li a{
    border-radius:0 !important;
    color:rgb(116, 152, 107) !important;
}