div{box-sizing: border-box;}
.wrap{
    width: 1000px;
    height: 800px;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap>div{width: 100%;}
#header{
    background-color: white;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    z-index: 1;
    border-bottom: 1px solid #a5a3a3;
}
#menu{
    position: fixed;
    left: 0;
    top: 44px}
#content{
    position: absolute;
    left: 200px;
    right: 0;}
body{padding-top: 59px}
#menuContent{height: 100%;}

#header>div, #menuContent>div{
    float: left;
    height: 100%;
}
#menu{
    width: 200px;
    border:1px solid #f0f0f0}
#content{width: 100%;}
#content1{
    width: 70%;
    margin-top: 30px;
    float: left;}


/* header 스타일*/
#header>div{height: 100%;}
#logo{width: 11%;}
#creatorName{width: 81%;}
#outPage{width: 8%;}
#creatorName, #outPage{
    font-size: 17px;
    font-weight: 600;
    color: rgb(116, 152, 107);
    line-height: 45px;
    text-align: center
}

/* menu 스타일 */
#menu>div{width: 100%;}
#creProfile{height: 160px;}

/* creProfile */
#creProfile{
    padding-top :15px;
    border: 1px solid #f0f0f0;
    background: rgba(81, 171, 59, 0.51);
    font-size: 16px;
}
#p1,#p2,#p3{
    margin-left: 15px;
    color: white; 
    font-weight: 600;
}
#p2{font-size: 15px}

/* menubar */
#accordian{text-align: center;}
#accordian>ul{margin-top: 0px;}
#accordian>ul>li{
    border: 1px solid #f0f0f0;
    margin-left: -40px;
}
#accordian li>h1{ cursor: pointer;}
#accordian li>ul{ display: none;}
#accordian p{font-size: 16px}
#accordian h4{
    line-height: 40px;
    font-weight: 600;
}
#abled{font-size: 16px;}
#accordian a{
    list-style: none;
    text-decoration: none;
    color: black;	
}
#subMenu a{
    display: block;
    position: relative;
    width: 196px;
    padding: 15px 20px;
    margin-left: -40px;
    background: #f8f8f8;
    border-bottom: 1px solid #eaeaea;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
   }
#subMenu a:hover{
    border-bottom: 1px solid #bdbdbd;
    color: #222;
    background: #ebeaea;
    transition: all .8s;
}
a:after{
    content: '';
    opacity: 0;
    transition: opacity .3s;
  }
#ready:hover, #ready p:hover{color: rgb(116, 152, 107)}
#abled:hover{color: rgb(116, 152, 107)}
#lock{
    display: inline;
    cursor: default; 
}

/* content */
#content1{padding-left:50px}
#summary{
    margin-top: -3px;
    color: #757575;
    font-size: 17px;
}
button{cursor: pointer;}
#content1 h4, #content1 span{font-weight: 600;}
#rewardEnrollBtn{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color:rgb(116, 152, 107);
    font-size: 18px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
#condition{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}
#conSummary{
    margin-left:15px;
    font-size: 18px;
    color: #8a8a8a;
}
#field{
    width: 750px;
    padding: 25px 15px 0px 15px; 
    border: 1px solid #8b8b8b;
    border-radius: 5px;
}
#deliSummary{
    width: 85%;
    height: 120px;
    padding:17px 10px 10px 10px;
    margin-left: 110px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #ebeaea;
    font-size: 14px;
}

/* 모달 */
#rewardContent{
    float: left;
    margin-right: 30px;
    font-size: 17px;
    font-weight: 600;
}
#counter1, #counter2{
    margin-left: 110px;
    font-size: 13px;
    font-weight: 600;
    color: #4b4b4b;
}
#ref{
    clear: both;
    font-size: 12px;
    color:#757575;
}
input{width: 40%;}
#submitBtn{background-color:rgb(116, 152, 107);}
#resetBtn{background-color:#969696;}
#submitBtn{margin-top: 25px;}
#submitBtn, #resetBtn{
    width: 130px;
    height: 40px;
    border:none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    color:white;
}
#title{
    float: left;
    width: 110px;
    font-size: 16px;
    font-weight: 600;
}
#selectOption1, #inputOption{margin-left: 110px;}

/* reward */
#reward{
    width: 350px;
    height: 250px;
    padding: 15px 10px 15px 10px;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    font-size: 14px;
}
#reward>*{margin-bottom: 10px;}
#rewardPrice, #rewardCate{
    float: left;
    margin-right: 20px;
}
#rewardPrice, #rewardTitle, #rewardCate{
    font-size: 15px;
    font-weight: 600;
}
#quantityLimit,#shipPrice,#deliveryStart{
    text-align: right;
}
#quantityLimit{
    margin-left: 215px;
    font-weight: 600;
    color: rgb(116, 152, 107);
}
#rewardExplain, #shipPrice, #deliveryStart{
    color: #8b8b8b;
}
#rewardExplain{
    margin-top:-8px;
    font-size: 13px;
}
#btns>*{
    border: none;
    border-radius: 10px;
    color: #8b8b8b;
    font-size: 14px;
}
#rewards{
    width: 800px;
    height: 100%;
}
#rewards #reward{
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}
#btns{
    float:right;
    margin-right:0px;
}