/* content */
#content1{padding-left: 50px}
#summary{
    margin-top: -3px;
    color: #757575;
    font-size: 17px;
}
button{cursor: pointer;}
#content1 h4, #content1 span{font-weight: 600;}
#rewardEnrollBtn{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color:rgb(116, 152, 107);
    font-size: 18px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
#condition{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}
#conSummary{
    margin-left:15px;
    font-size: 18px;
    color: #8a8a8a;
}
#field{
    width: 750px;
    padding: 25px 15px 0px 15px; 
    border: 1px solid #8b8b8b;
    border-radius: 5px;
}
#deliSummary{
    width: 85%;
    height: 120px;
    padding:17px 10px 10px 10px;
    margin-left: 110px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #ebeaea;
    font-size: 14px;
}

/* 모달 */
#rewardContent{
    float: left;
    margin-right: 30px;
    font-size: 17px;
    font-weight: 600;
}
#counter1, #counter2{
    margin-left: 110px;
    font-size: 13px;
    font-weight: 600;
    color: #4b4b4b;
}
#ref{
    clear: both;
    font-size: 12px;
    color:#757575;
}
input{width: 40%;}
#submitBtn{background-color:rgb(116, 152, 107);}
#resetBtn{background-color:#969696;}
#submitBtn{margin-top: 25px;}
#submitBtn, #resetBtn{
    width: 130px;
    height: 40px;
    border:none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    color:white;
}
#title{
    float: left;
    width: 110px;
    font-size: 16px;
    font-weight: 600;
}
#selectOption1, #inputOption{margin-left: 110px;}

/* reward */
#reward{
    width: 350px;
    height: 250px;
    padding: 15px 10px 15px 10px;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    font-size: 14px;
}
#reward>*{margin-bottom: 10px;}
#rewardPrice, #rewardCate{
    float: left;
    margin-right: 20px;
}
#rewardPrice, #rewardTitle, #rewardCate{
    font-size: 15px;
    font-weight: 600;
}
#quantityLimit,#shipPrice,#deliveryStart{
    text-align: right;
}
#quantityLimit{
    margin-left: 215px;
    font-weight: 600;
    color: rgb(116, 152, 107);
}
#rewardExplain, #shipPrice, #deliveryStart{
    color: #8b8b8b;
}
#rewardExplain{
    margin-top:-8px;
    font-size: 13px;
}
#btns>*{
    border: none;
    border-radius: 10px;
    color: #8b8b8b;
    font-size: 14px;
}
#rewards{
    width: 800px;
    height: 100%;
}
#rewards #reward{
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}
#btns{
    float:right;
    margin-right:0px;
}