<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="communityMapper">

	<!-- CommunityNotice ResultMap -->
	<resultMap id="communityNotice" type="CommunityNotice">
		<id column="cmno_no" property="cmNoticeNo" />
		<result column="cmno_title" property="cmNoticeTitle" />
		<result column="cmno_content" property="cmNoticeContent" />
		<result column="enroll_date" property="enrollDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="count" property="count" />
		<result column="status" property="status" />
		
	</resultMap>
	
	<!-- Community ResultMap -->
	<resultMap id="community" type="Community">
		<id column="cm_no" property="cmNo" />
		<result column="mem_no" property="memNo" />
		<result column="mem_id" property="memId" />
		<result column="cm_category" property="cmCategory" />
		<result column="cm_title" property="cmTitle" />
		<result column="cm_content" property="cmContent" />
		<result column="cm_image" property="cmImage" />
		<result column="enroll_date" property="enrollDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="count" property="count" />
		<result column="status" property="status" />
	</resultMap>
	
	<!-- CommunityComment ResultMap -->
	<resultMap id="communityComment" type="CommunityComment">
		<id column="cmco_no" property="cmCommentNo" />
		<result column="mem_no" property="memNo" />
		<result column="cm_no" property="cmNo" />
		<result column="mem_id" property="memId" />
		<result column="cmco_ref" property="cmCommentRef" />
		<result column="cmco_depth" property="cmCommentDepth" />
		<result column="cmco_content" property="cmCommentContent" />
		<result column="enroll_date" property="enrollDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="status" property="status" />
	</resultMap>
	
	<!-- 커뮤니티 공지사항 리스트 조회 -->
	<select id="selectCmNoticeList" resultMap="communityNotice">
		select
		       cmno_no
		     , cmno_title
		     , to_char(enroll_date, 'YYYY.MM.DD')enroll_date
		  from cm_notice
		 where status = 'Y'
		 order
		    by cmno_no desc
	</select>
	
	<!-- 커뮤니티 공지사항 작성 -->
	<insert id="insertCmNotice" parameterType="CommunityNotice">
		insert
		  into cm_notice
		  (
		    cmno_no
		  , cmno_title
		  , cmno_content
		  )
		  values
		  (
		    seq_cnno.nextval
		  , #{cmNoticeTitle}
		  , #{cmNoticeContent}
		  )
	</insert>
	
	<!-- 커뮤니티 공지사항 조회수 증가 -->
	<update id="increaseCmNoticeCount" parameterType="_int">
		update
		       cm_notice
		   set count = count + 1
		 where cmno_no = #{cmNoticeNo}
		   and status = 'Y'
	</update>
	
	<!-- 커뮤니티 공지사항 상세조회 -->
	<select id="selectCmNotice" resultMap="communityNotice" parameterType="_int">
		select
		       cmno_no
		     , cmno_title
		     , to_char(enroll_date, 'YYYY-MM-DD HH24:MI:SS') enroll_date
		     , cmno_content
		  from cm_notice
		 where cmno_no = #{cmNoticeNo}
		   and status = 'Y'
	</select>
	
	<!-- 커뮤니티 공지사항 수정 -->
	<update id="updateCmNotice" parameterType="CommunityNotice">
		update
		       cm_notice
		   set cmno_title = #{cmNoticeTitle}
		     , cmno_content = #{cmNoticeContent}
		     , modify_date = sysdate
		 where cmno_no = #{cmNoticeNo}
	</update>
	
	<!-- 커뮤니티 공지사항 삭제 -->
	<update id="deleteCmNotice" parameterType="_int">
		update
		       cm_notice
		   set status = 'N'
		 where cmno_no = #{cmNoticeNo}
	</update>
	
	<!-- 커뮤니티 게시글 게시글 총 갯수 (카테고리별) -->
	<select id="selectCmListCount" resultType="_int" parameterType="_int">
		select
		       count(*)
		  from community
		 where status = 'Y'
		 <choose>
           		<when test="ctg == 1">
           			and cm_category = 1
           		</when>
           		<when test="ctg == 2">
           			and cm_category = 2
           		</when>
           		<when test="ctg == 3">
           			and cm_category = 3
           		</when>
          </choose>
	</select>
	
	<!-- 커뮤니티 글 리스트 조회  -->
	<select id="selectCmList" resultMap="community" parameterType="_int">
		select
		       cm_no
		     , cm_image
		     , cm_category
		     , cm_title
		     , mem_id
		     , to_char(enroll_date, 'YYYY.MM.DD') enroll_date
		     , count
		  from community
		 where status = 'Y'
		 <choose>
           		<when test="ctg == 1">
           			and cm_category = 1
           		</when>
           		<when test="ctg == 2">
           			and cm_category = 2
           		</when>
           		<when test="ctg == 3">
           			and cm_category = 3
           		</when>
          </choose>
		 order
		    by cm_no desc
	</select>
	
	<!-- 검색_1 : 검색 조회에 맞는 게시글 총 갯수 -->
	<select id="selectSearchListCount" resultType="_int" parameterType="hashmap">
		 select
		        count(*)
		   from community
		  where status = 'Y'
		  <choose>
           		<when test="ctg == 1">
           			and cm_category = 1
           		</when>
           		<when test="ctg == 2">
           			and cm_category = 2
           		</when>
           		<when test="ctg == 3">
           			and cm_category = 3
           		</when>
          </choose>
          <if test="condition == 'title'">
		   		and cm_title
		  </if>
		  <if test="condition == 'content'">
		   		and cm_content
		  </if>
		  <if test="condition == 'titleContent'">
		   		and cm_title || cm_content 
		  </if>
		  <if test="condition == 'writer'">
		   		and mem_id
		  </if>
		   		like '%' || #{cmKeyword} || '%'
	</select>
	
	<!-- 검색_2 : 검색 조회에 맞는 게시글 리스트 조회 -->
	<select id="selectSearchList" resultMap="community" parameterType="hashmap">
		select
		       cm_no
		     , cm_image
		     , cm_category
		     , cm_title
		     , mem_id
		     , to_char(enroll_date, 'YYYY.MM.DD') enroll_date
		     , count
		  from community
		 where status = 'Y'
		 <choose>
           		<when test="ctg == 1">
           			and cm_category = 1
           		</when>
           		<when test="ctg == 2">
           			and cm_category = 2
           		</when>
           		<when test="ctg == 3">
           			and cm_category = 3
           		</when>
          </choose>
           <if test="condition == 'title'">
		   		and cm_title
		  </if>
		  <if test="condition == 'content'">
		   		and cm_content
		  </if>
		  <if test="condition == 'titleContent'">
		   		and cm_title || cm_content 
		  </if>
		  <if test="condition == 'writer'">
		   		and mem_id
		  </if>
		   		like '%' || #{cmKeyword} || '%'
         order
            by cm_no desc
 	</select>
 	
 	<!-- 커뮤니티 등록 -->
 	<insert id="insertCommunity" parameterType="Community">
 		insert
 		  into community
 		  (
 		    cm_no
 		  , mem_no
 		  , mem_id
 		  , cm_category
 		  , cm_title
 		  , cm_content
 		  , cm_image
 		  )
 		  values
 		  (
 		    seq_cno.nextval
 		  , #{memNo}
 		  , #{memId}
 		  , #{cmCategory}
 		  , #{cmTitle}
 		  , #{cmContent}
 		  , #{cmImage}
 		  )
 	</insert>
 	
 	<!-- 커뮤니티 게시글 상세조회_1 : 조회수 증가 -->
 	<update id="increaseCmCount" parameterType="_int">
 		update
		       community
		   set count = count + 1
		 where cm_no = #{cmNo}
		   and status = 'Y'
 	</update>
 	
 	<!-- 커뮤니티 게시글 상세조회_2 : 게시글 상세조회 -->
 	<select id="selectCommunity" resultMap="community" parameterType="Community">
 		select
		       cm_no
		     , mem_no
		     , mem_id
		     , cm_category
		     , cm_title
		     , cm_content
		     , cm_image
		     , to_char(enroll_date, 'YYYY-MM-DD HH24:MI:SS') enroll_date
		 from community
		 where cm_no = #{cmNo}
		   and status = 'Y'
 	</select>
 	
 	<!-- 커뮤니티 게시글 수정 -->
 	<update id="updateCommunity" parameterType="Community">
 		update
 		       community
 		   set cm_category = #{cmCategory}
 		     , cm_title = #{cmTitle}
 		     , cm_content = #{cmContent}
 		     , cm_image = #{cmImage}
 		     , modify_date = sysdate
 		 where cm_no = #{cmNo}
 	</update>
 	
 	<!-- 커뮤니티 게시글 삭제 -->
 	<update id="deleteCommunity" parameterType="_int">
 		update
 		       community
 		   set status = 'N'
 		 where cm_no = #{cmNo}
 	</update>
 	
 	<!-- 커뮤니티 댓글 리스트 조회 -->
	<select id="selectCmCommentList" resultMap="communityComment" parameterType="_int">
		select 
		       cmco_no
		     , cm_no
		     , mem_id
		     , cmco_ref
		     , cmco_depth
		     , cmco_content
		     , to_char(enroll_date, 'YYYY-MM-DD HH24:MI') enroll_date
		     , status
		  from cm_comment
		where cm_no = #{cmNo}
		  and status = 'Y'
		start with cmco_ref = 0
		connect by prior cmco_no = cmco_ref
		order siblings by enroll_date asc
	</select>
	
	<!-- 커뮤니티 댓글 등록 -->
	<insert id="insertComment" parameterType="CommunityComment">
		insert
		  into cm_comment
		  (
		    cmco_no
		  , mem_no
		  , cm_no
		  , mem_id
		  , cmco_ref
		  , cmco_depth
		  , cmco_content
		  )
		  values
		  (
		    seq_ccno.nextval
		  , #{memNo}
		  , #{cmNo}
		  , #{memId}
		  , #{cmCommentRef}
		  , #{cmCommentDepth}
		  , #{cmCommentContent}
		  )
	</insert>
	
	<!-- 커뮤니티 댓글 삭제_1 : 참조된 댓글인지 확인 -->
	<select id="checkReComment" resultType="_int" parameterType="_int">
		select count(*)
		  from cm_comment
		 where cmco_ref = #{cmCommentNo}
		   and status = 'Y'
	</select>
	
	<!-- X : 커뮤니티 댓글 삭제_2_1 : 참조된 댓글인 경우 내용 update-->
	<!-- 참조된 댓글일 경우 댓글 삭제 방지로 대체
	<update id="deleteRefComment" parameterType="_int">
		update cm_comment
		   set cmco_content = '삭제된 댓글입니다'
		     , status = 'D'
		 where cmco_no = #{cmCommentNo}
		   and status = 'Y'
	</update>
	 -->
	 
	<!-- 커뮤니티 댓글 삭제_2_2 : 참조된 댓글이 없는 경우 상태 update -->
	<update id="deleteComment" parameterType="_int">
		update cm_comment
		   set status = 'N'
		 where cmco_no = #{cmCommentNo}
	</update>
	
	<!-- 커뮤니티 댓글 수정 -->
	<update id="updateComment" parameterType="CommunityComment">
		update
		       cm_comment
		   set cmco_content = #{cmCommentContent}
		 where cmco_no = #{cmCommentNo}
	</update>
 
</mapper>
