<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
  <mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
	
		<id column="mem_no" property="memNo"/>
		<result column="mem_id" property="memId"/>
		<result column="mem_pwd" property="memPwd"/>
		<result column="mem_name" property="memName"/>
		<result column="phone" property="phone"/>
		<result column="email" property="email"/>
		<result column="email_yn" property="emailYn"/>
		<result column="enroll_route" property="enrollRoute"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="status" property="status"/>
		<result column="mem_post" property="memPost"/>
		<result column="mem_road" property="memRoad"/>
		<result column="mem_detail" property="memDetail"/>
	</resultMap>
	
	<resultMap type="Address" id="Address">
	
		<id column="ad_no" property="adNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="ad_location" property="adLocation"/>
		<result column="ad_name" property="adName"/>
		<result column="ad_phone" property="adPhone"/>
		<result column="ad_post" property="adPost"/>
		<result column="ad_road" property="adRoad"/>
		<result column="ad_detail" property="adDetail"/>
		<result column="ad_default" property="adDefault"/>
	</resultMap>
	
	<resultMap id="Project" type="Project">
		<id column="pro_no" property="proNo"/>
		<result column="cre_no" property="creNo"/>
		<result column="pro_title" property="proTitle"/>
		<result column="pro_price" property="proPrice"/>
		<result column="pro_image" property="proImage"/>
		<result column="pro_summary" property="proSummary"/>
		<result column="pro_story" property="proStory"/>
		<result column="pro_fundprice" property="proFundPrice"/>
		<result column="pro_status" property="proStatus"/>
		<result column="create_word" property="createWord"/>
		<result column="pro_shippirce" property="proShipPrice"/>
		<result column="open_date" property="openDate"/>
		<result column="close_date" property="closeDate"/>
		<result column="pro_step" property="proStep"/>
		<result column="pro_ad" property="proAd"/>
		<collection resultMap="Category" property="category"/>

	</resultMap>	
	
	<resultMap id="Creator" type="Creator" >
		<id column="cre_no" property="creNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="cre_business" property="creBusiness"/>
		<result column="cre_phone" property="crePhone"/>
		<result column="cre_privacy" property="crePrivacy"/>
		<result column="cre_name" property="creName"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap id="Category" type="Category" >
		<id column="ca_no" property="caNo"/>
		<result column="ca_name" property="caName"/>
	</resultMap>
	

	
	  
  	<select id="loginMember" resultMap="memberResultSet" parameterType="Member">
  		select
  			   mem_no
  		     , mem_id
  		     , mem_pwd
  		     , mem_name
  		     , phone
  		     , email
  		     , email_yn
  		     , enroll_route
  		     , enroll_date
  		     , status
  		     , mem_post
  		     , mem_road
  		     , mem_detail
  		  from member
  		 where status not in ('B','N')
  		   and mem_id = #{memId}
  	</select>
  	
  	<select id="idCheck" resultType="_int" parameterType="string">
	  	select
	  		   count(*)
	  	  from member
	  	 where mem_id = #{memId}
	  	 
  </select>
  
   <insert id="insertMember" parameterType="Member">
  	insert
  	  into member
  	  (
  	  	mem_no
  	  , mem_id
  	  , mem_pwd
  	  , mem_name
  	  , phone
  	  , email
  	  
  	  )
  	  values
  	  (
  	    seq_mno.nextval
  	  , #{memId}
  	  , #{memPwd}
  	  , #{memName}
  	  , #{phone}
  	  , #{email}

  	  )
  </insert>
  	
	<select id="selectMember" resultMap="Address">
		select
		      ad_no
		    , mem_no
		    , ad_location
		    , ad_name
		    , ad_phone
		    , ad_post
		    , ad_road
		    , ad_detail
		    , ad_default
		 from address_list
		 where mem_no = #{memNo}
		   and ad_location = 'Y'
		   and ad_default= 'N'
 
	</select>  
	
	<select id="selectDefault" resultMap="Address">
		select
		      ad_no
		    , mem_no
		    , ad_location
		    , ad_name
		    , ad_phone
		    , ad_post
		    , ad_road
		    , ad_detail
		    , ad_default
		 from address_list
		 where mem_no = #{memNo}
		   and ad_location = 'Y'
		   and ad_default= 'Y'
 
	</select>  
	
	
	<update id="updateMember" parameterType="Member">
	  	update
	  		   member
	  	   set mem_pwd = #{memPwd}
	  	     , mem_name = #{memName}
	  	     , phone = #{phone}
	  	     , email = #{email}
	  	     , mem_post = #{memPost}
	  	     , mem_Road = #{memRoad}
	  	     , mem_Detail = #{memDetail}
	  	 where mem_id = #{memId}
   </update>
	
  	
  	<!-- 일반회원관리 -->
  	<select id="selectListCount" resultType="_int">
  		select
  		       count(*)
  		  from member
  		 where status = 'Y'
  	</select>
  	
  	<select id="selectList" resultMap="memberResultSet">
  		select
  		       mem_no
  		     , mem_id
  		     , mem_name
  		     , phone
  		     , email
  		     , to_char(enroll_date, 'YYYY-MM-DD') enroll_date
  		from member
  	   where status= 'Y'
  	   order
  	      by enroll_date desc
  	</select>
  	
  	<!-- 일반회원관리 회원 검색 -->
  	<select id="selectSearchListCount" resultType="_int" parameterType="hashmap">
		select
		       count(*)
		  from member 
		 where status = 'Y'
		 	<if test="condition == 'id'">
		    	and mem_id
		    </if>
		    <if test="condition == 'name'">
		    	and mem_name
		    </if>
		    <if test="condition == 'email'">
		    	and email
		    </if>
		        like '%' || #{keyword} || '%'
	</select>
	
	<select id="selectSearchList" resultMap="memberResultSet" parameterType="hashmap">
		select 
               mem_no
  		     , mem_id
  		     , mem_name
  		     , phone
  		     , email
  		     , to_char(enroll_date, 'YYYY-MM-DD') enroll_date
         from member
  	  	where status= 'Y'
  	     order
  	        by enroll_date desc
           <choose>
           		<when test="condition == 'id'">
           			and mem_id
           		</when>
           		<when test="condition == 'name'">
           			and mem_name
           		</when>
           		<otherwise>
           			and email
           		</otherwise>
           </choose>
           		like '%' || #{keyword} || '%'           	
         order
            by enroll_date desc
	</select>
  	
  	<!-- 일반회원 상세 조회 -->
  	<select id="selectAdminMember" resultMap="memberResultSet" parameterType="_int">
  		select
  		      mem_no
  		    , to_char(enroll_date, 'YYYY-MM-DD') enroll_date
  		    , mem_id
  		    , mem_name
  		    , phone
  		    , email
  		    , mem_post
  		    , mem_road
  		    , mem_detail
  	    from member
  	   where mem_no = #{memNo}
  	</select>
  	
  	<!-- 일반회원 탈퇴 -->
  	<update id="deleteMember" parameterType="_int">
  		update
  		      member
  		  set status ='N'
  	    where mem_no = #{memNo}
  	</update>
  	
  	<insert id="insertAddress" parameterType="Address">
  	insert
	  	  into address_list
	  	  (
	  	  	ad_no
	  	  , mem_no
	  	  , ad_name
	  	  , ad_phone
	  	  , ad_post
	  	  , ad_road
	  	  , ad_detail
	  	  
	  	  )
	  	  values
	  	  (
	  	    seq_adno.nextval
	  	  , #{memNo}
	  	  , #{adName}
	  	  , #{adPhone}
	  	  , #{adPost}
	  	  , #{adRoad}
	  	  , #{adDetail}
	  	  )
  </insert>

  
  <select id="selectAddress" resultMap="Address">
		select
		      ad_no
		    , mem_no
		    , ad_location
		    , ad_name
		    , ad_phone
		    , ad_post
		    , ad_road
		    , ad_detail
		    , ad_default
		 from address_list
		 where ad_no = #{adNo}
		   and ad_location = 'Y'
		   
		   
 
	</select>  
	
	<update id="fixAddress" parameterType="Address">
	  	update
	  		   address_list
	  	   set ad_name = #{adName}
	  	     , ad_phone = #{adPhone}
	  	     , ad_post = #{adPost}
	  	     , ad_road = #{adRoad}
	  	     , ad_detail = #{adDetail}
	  	    
	  	 where ad_no = #{adNo}
   </update>
   
   <update id="fixAddress2" parameterType="Address">
	  	update
	  		   address_list
	  	   set ad_default = 'N'  	     
	  	 where ad_no != #{adNo}
	  	   and mem_no = #{memNo}
   </update>
   
   <update id="fixAddress3" parameterType="Address">
	  	update
	  		   address_list
	  	   set ad_name = #{adName}
	  	     , ad_phone = #{adPhone}
	  	     , ad_post = #{adPost}
	  	     , ad_road = #{adRoad}
	  	     , ad_detail = #{adDetail}
	  	     , ad_default = #{adDefault}
	  	 where ad_no = #{adNo}
   </update>
   
   <update id="deleteAddress" parameterType="_int">
		update
		       address_list
		   set ad_location = 'N'
		 where ad_no = #{adNo}
	</update>
	
	<!-- 크리에이터조회 -->
	<select id="creatSearch" resultMap="Creator" >

		select
		      cre_no
		    , mem_no
		    , cre_business
		    , cre_phone
		    , cre_privacy
		    , cre_name
		    , status
		 from creator
		where mem_no = #{memNo}
	
	</select>
	
	<!-- 프로젝트조회 -->
	<select id="madeProject" resultMap="Project" >

		select
		      pro_no
		    , cre_no
		    , pro_title
		    , pro_price
		    , pro_image
		    , pro_summary
		    , pro_story
		    , pro_fundprice
		    , pro_status
		    , create_word
		    , pro_shippirce
		    , open_date
		    , close_date
		    , pro_step
		    , pro_ad
		    , ca_name
		    , ca_no
		    , ca_name
		 from project 
		 join category using(ca_no)
	    where cre_no = #{creNo}
	      and pro_ad = 'Y'
	     
	</select>
	
	<!-- 내가만든 프로젝트 삭제 -->
	<update id="deleteMyProject" parameterType="_int">
		update
		       project
		   set pro_ad = 'N'
		 where pro_no = #{proNo}
	</update>
	


  </mapper>
