<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PayMapper">


	<resultMap id="adminPayResultSet" type="Pay">
		<id column="mem_no" property="memNo" />
		<result column="mem_id" property="memId" />
		<result column="mem_name" property="memName" />
		<result column="pay_date" property="payDate" />
		<result column="pay_price" property="payPrice" />
		<result column="pro_title" property="proTitle" />
		<result column="pro_ad" property="proAd" />
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select
		count(*)
		from
		member
	</select>


	<select id="selectList" resultMap="adminPayResultSet"
		parameterType="_int">

		select
		  m.mem_no
		, m.mem_id
		, m.mem_name
		, m.email
		, a.pay_date
		, a.pay_price
		, p.pro_title
		, p.pro_ad
		from member m
		join tb_order t on (m.mem_no =
		t.mem_no)
		join pay a on (a.or_no = t.or_no)
		join creator c on (c.mem_no
		= m.mem_no)
		join project p on (p.cre_no = c.cre_no)
		order
		by pay_date
		desc
	</select>
	
	

	


</mapper>
