<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">

	<resultMap id="Project" type="Project">
		<id column="pro_no" property="proNo"/>
		<result column="cre_no" property="creNo"/>
		<result column="ca_no" property="caNo"/>
		<result column="pro_title" property="proTitle"/>
		<result column="pro_price" property="proPrice"/>
		<result column="pro_image" property="proImage"/>
		<result column="pro_summary" property="proSummary"/>
		<result column="pro_story" property="proStory"/>
		<result column="pro_fundprice" property="proFundPrice"/>
		<result column="pro_status" property="proStatus"/>
		<result column="create_word" property="createWord"/>
		<result column="pro_shippirce" property="proShipPrice"/>
		<result column="open_date" property="openDate"/>
		<result column="close_date" property="closeDate"/>
		<result column="pro_step" property="proStep"/>
		<result column="pro_ad" property="proAd"/>
		<result column="ran_no" property="ranNo"/>
		<result column="ca_Name" property="caName"/>
		<collection resultMap="Category" property="category"/>
		<collection resultMap="Creator" property="creator"/>
	</resultMap>	
	
	<resultMap id="ProjectReward" type="ProjectReward">
		<id column="reward_no" property="rewardNo"/>
		<result column="pro_no" property="proNo"/>
		<result column="reward_title" property="rewardTitle"/>
		<result column="reward_price" property="rewardPrice"/>
		<result column="reward_explain" property="rewardExplain"/>
	</resultMap>
	
	<resultMap id="Creator" type="Creator" >
		<id column="cre_no" property="creNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="cre_business" property="creBusiness"/>
		<result column="cre_phone" property="crePhone"/>
		<result column="cre_privacy" property="crePrivacy"/>
		<result column="cre_name" property="creName"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap id="Category" type="Category" >
		<id column="ca_no" property="caNo"/>
		<result column="ca_name" property="caName"/>
	</resultMap>
	 
	<resultMap id="ProRequire" type="ProRequire">
		<id column="pro_no" property="proNo"/>
		<result column="reward_plan" property="rewardPlan"/>
		<result column="reward_delivery" property="rewardDelivery"/>
		<result column="reward_category" property="rewardCategory"/>
	</resultMap>
	
	<select id="rankList" resultMap="Project" >
		select *
		  from 
		       (select
		              pro_no
		            , cre_no
		            , ca_no
		            , pro_title
		            , pro_price
		            , pro_image
		            , pro_summary
		            , pro_story
		            , pro_fundprice
		            , pro_status
		            , create_word
		            , pro_shippirce
		            , open_date
		            , close_date
		            , pro_step
		            , pro_ad
		         from project
		        order
		           by pro_fundprice desc)
		       where rownum between 1 and 3
	
		
	
	</select>

	<select id="reList" resultMap="Project" >

		select
		      pro_no
		    , cre_no
		    , pro_title
		    , pro_price
		    , pro_image
		    , pro_summary
		    , pro_story
		    , pro_fundprice
		    , pro_status
		    , create_word
		    , pro_shippirce
		    , open_date
		    , close_date
		    , pro_step
		    , pro_ad
		    , ca_no
		    , ca_name
		 from project 
		 join category using(ca_no)
	    where pro_ad = 'Y'
	    
	</select>
	
	<!-- 펀딩하기 리스트조회 -->
	<select id="reList2" resultMap="Project" >
		 select *
			  from 
			       (select
			              pro_no
			            , pro_title
			            , pro_price
			            , pro_image
			            , pro_summary
			            , pro_story
			            , pro_fundprice
			            , pro_status
			            , create_word
			            , pro_shippirce
			            , open_date
			            , close_date
			            , pro_step
			            , pro_ad
	                    , ca_no
	                    , ca_name
	                    , cre_no
	                    , cre_name
			         from project
	                 join category using(ca_no)
	                    join creator using(cre_no)
			        order by 
			        	<choose>
			        		<when test='ctg2 == 2'>
				        		open_date desc)
				        	</when>
				        	<when test='ctg2 == 1'>
				        		close_date)
				        	</when>
				        	<otherwise>
				        		pro_fundprice desc)
			        		</otherwise>
			        	</choose>
	                where pro_ad = 'Y'
	                  <if test="ctg != 0">
	                  	and ca_no = #{ctg}
	                  </if>
		                  	
	</select>
	
	<!-- 펀딩하기에서 검색 -->
	<select id="searchList" resultMap="Project" >
		 select *
			  from 
			       (select
			              pro_no
			            , pro_title
			            , pro_price
			            , pro_image
			            , pro_summary
			            , pro_story
			            , pro_fundprice
			            , pro_status
			            , create_word
			            , pro_shippirce
			            , open_date
			            , close_date
			            , pro_step
			            , pro_ad
	                    , ca_no
	                    , ca_name
	                    , cre_no
	                    , cre_name
			         from project
	                 join category using(ca_no)
	                 join creator using(cre_no)
			        order by 
			        	<choose>
			        		<when test='ctg2 == 2'>
				        		open_date desc)
				        	</when>
				        	<when test='ctg2 == 1'>
				        		close_date)
				        	</when>
				        	<otherwise>
				        		pro_fundprice desc)
			        		</otherwise>
			        	</choose>
	                where pro_ad = 'Y'
	                  <if test="ctg != 0">
	                  	and ca_no = #{ctg}
	                  </if>
		              <if test="condition == 'title'">
					   		and pro_title
					  </if>
					  <if test="condition == 'writer'">
					   		and cre_name
					  </if>
					   		like '%' || #{keyword} || '%'
          	
	</select>
	
	<!-- 메뉴바에서 검색 -->
	<select id="searchList2" resultMap="Project" >
		 select *
			  from 
			       (select
			              pro_no
			            , pro_title
			            , pro_price
			            , pro_image
			            , pro_summary
			            , pro_story
			            , pro_fundprice
			            , pro_status
			            , create_word
			            , pro_shippirce
			            , open_date
			            , close_date
			            , pro_step
			            , pro_ad
	                    , ca_no
	                    , ca_name
	                    , cre_no
	                    , cre_name
			         from project
	                 join category using(ca_no)
	                 join creator using(cre_no)
			        order by 
			        	<choose>
			        		<when test='ctg2 == 2'>
				        		open_date desc)
				        	</when>
				        	<when test='ctg2 == 1'>
				        		close_date)
				        	</when>
				        	<otherwise>
				        		pro_fundprice desc)
			        		</otherwise>
			        	</choose>
	                where pro_ad = 'Y'
	                  <if test="ctg != 0">
	                  	and ca_no = #{ctg}
	                  </if>
		                and pro_title || cre_name
		                like '%' || #{keyword} || '%'
          	
	</select>
	
	
	
	<select id="slide" resultMap="Project" >
		select
		      pro_no
		    , cre_no
		    , ca_no
		    , pro_title
		    , pro_price
		    , pro_image
		    , pro_summary
		    , pro_story
		    , pro_fundprice
		    , pro_status
		    , create_word
		    , pro_shippirce
		    , open_date
		    , close_date
		    , pro_step
		    , pro_ad
		 from project
		where pro_no in(8,24,30) 
	
	</select>
	
	<select id="newList" resultMap="Project" >
		 select *
		  from
		       ( select
		              pro_no
		            , pro_title
		            , pro_price
		            , pro_image
		            , pro_summary
		            , pro_story
		            , pro_fundprice
		            , pro_status
		            , create_word
		            , pro_shippirce
		            , open_date
		            , close_date
		            , pro_step
		            , pro_ad
		            , ca_no
		            , ca_name
		            , cre_no
		            , cre_name
		         from project
	             join category using(ca_no)
	             join creator using(cre_no)		         
		        order
		           by open_date desc)
		        where rownum between 1 and 6
	</select>
	
	<insert id="insertCreator" parameterType="Creator">
		insert
		  into creator
		  (
		    cre_no
		  , mem_no
		  , cre_business
		  , cre_privacy
		  , cre_name
		  )
		  values
		  (
		    seq_ctco.nextval
		  , #{memNo}
		  , #{creBusiness}
		  , #{crePrivacy}
		  , #{creName}
		  )
	</insert>
	
	<select id="selectCreator" resultMap="Creator" parameterType="Member">
		select
		       cre_no
		     , mem_no
		     , cre_business
		     , cre_privacy
		     , cre_name
		     , status
		  from creator
		 where mem_no = #{memNo}
	</select>
	
	<insert id="insertProject" parameterType="hashmap">
		insert
		  into project
		  (
		    pro_no
		  , cre_no
		  , ran_no
		  )
		  values
		  (
		    seq_pjco.nextval
		  , #{creNo}
		  , #{ranNo}
		  )
	</insert>
	
	<select id="selectRanNo" resultType="_int" parameterType="_int">
		select
		       ran_no
		  from project
		 where ran_no = #{ranNo}
	</select>
	
	<select id="selectRanNo2" resultType="_int" parameterType="_int">
		select
		       ran_no
		  from project
		 where pro_no = #{pno}
	</select>

	<select id="selectProject1" resultMap="Project" parameterType="_int">
		select
		       pro_no
		     , cre_no
		     , ca_no
		     , pro_title
		     , pro_image
		     , pro_summary
		     , pro_story
		     , pro_fundprice
		     , pro_status
		     , create_word
		     , pro_shippirce
		     , open_date
		     , close_date
		     , pro_step
		     , pro_ad
		  from project 
		 where ran_no = #{ranNo}
	</select>
	
	<select id="selectProject2" resultMap="Project" parameterType="_int">
		select
		       pro_no
		     , cre_no
		     , ca_no
		     , pro_title
		     , pro_price
		     , pro_image
		     , pro_summary
		     , pro_story
		     , pro_fundprice
		     , pro_status
		     , create_word
		     , pro_shippirce
		     , open_date
		     , close_date
		     , pro_step
		     , pro_ad
		     , ran_no
		  from project 
		 where pro_no = #{pno}
	</select>
	
	<update id="updateProStep1" parameterType="_int">
		update
		       project
		   set
		       pro_step = '펀딩준비'
		 where ran_no = #{ranNo}
	</update>
	 
	<select id="selectRequire" resultMap="ProRequire">
		select
		       pro_no
		     , reward_plan
		     , reward_delivery
		     , reward_category
		  from pro_require
		 where pro_no = #{pno}
	</select>
	
	<insert id="insertRequire" parameterType="ProRequire">
		insert
		  into pro_require
		values
		(
		  #{proNo}
		, #{rewardPlan}
		, #{rewardDelivery}
		, #{rewardCategory}
		)
	</insert>
	
	<update id="updateRequire" parameterType="ProRequire">
		update
		       pro_require
		   set
			   reward_plan = #{rewardPlan}
			 , reward_delivery = #{rewardDelivery}
			 , reward_category = #{rewardCategory}
		 where pro_no = #{proNo}
	</update>
	 
	<!-- 펀딩상세페이지 --> 
	<select id="selectFundingDetail" resultMap="Project" parameterType="_int">
		select
		      pro_no
		    , cre_no
		    , ca_name
		    , pro_title
		    , pro_image
		    , open_date
		    , close_date
		    , pro_price
		    , pro_fundprice
		    , pro_story
		    , create_word
		 from project 
		 join category using(ca_no)
		 join pro_reward using(pro_no)
		where pro_no = #{proNo} 
	</select> 

	<!-- 상세페이지 리워드 -->
	<select id="selectReward" resultMap="ProjectReward" parameterType="_int">
		select
			  pro_no
			, reward_no
		    , reward_price
		    , reward_explain
		 from pro_reward
		where pro_no = #{ proNo }
	</select>
	
	<!-- [휘경] 프로젝트 좋아요 여부 확인 -->
	<select id="isChecked" resultType="_int" parameterType="Like">
		select count(*)
		  from tb_like
		 where mem_no = #{memNo}
		   and pro_no = #{proNo}
	</select>
	
	<!-- [휘경] 프로젝트의 좋아요 수 조회-->
	<select id="countLike" resultType="_int" parameterType="_int">
		select count(*)
		  from tb_like
		 where pro_no = #{proNo}
	</select>
	
	<!-- [휘경] 프로젝트 좋아요 취소-->
	<delete id="deleteLike" parameterType="Like">
		delete from tb_like
		where mem_no = #{memNo}
		  and pro_no = #{proNo}
	</delete>
	
	<!-- [휘경] 프로젝트 좋아요 추가 -->
	<insert id="insertLike" parameterType="Like">
		insert
		  into tb_like
		  (
		    mem_no
		  , pro_no
		  )
		  values
		  (
		  	#{memNo}
		  , #{proNo}
		  )
	</insert>

</mapper>

