<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="reportMapper">

	<resultMap id="Blacklist" type="Blacklist">
	
		<id column="blacklist_no" property="blacklistNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="suspended" property="suspended"/>
		<result column="suspended_date" property="suspendedDate"/>
		<result column="report_count" property="reportCount"/>
		
		<result column="mem_id" property="memId"/>
	</resultMap>
	
	<resultMap id="Report" type="Report">
	
		<id column="report_no" property="reportNo"/>
		<result column="cmco_no" property="cmcoNo"/>
		<result column="report_content" property="reportContent"/>
		<result column="report_date" property="reportDate"/>
		<result column="report_type" property="reportType"/>
		<result column="report_status" property="reportStatus"/>
		
		<result column="cm_no" property="cmNo"/>
	</resultMap>	
	
	<!-- 블랙리스트 페이징 처리 -->
	<select id="selectListCount" resultType="_int">
		select 
				count(*)
		  from  blacklist
	</select>
	
	<!-- 관리자 블랙리스트 페이지 조회 -->
	<select id="adminBlacklist" resultMap="Blacklist">
		select 
				blacklist_no
			 ,  mem_id
			 ,  suspended
			 ,  suspended_date	
			 ,  report_count
		  from  blacklist b
		  join  member m on (b.mem_no = m.mem_no)
		 order
		 	by  blacklist_no desc
	</select>
	
	<!-- 블랙리스트 모달 조회 -->
	<select id="modalBlacklist" resultMap="Report">
		select 
				 r.report_no
			  ,  r.cmco_no
			  ,  r.report_type
			  ,  to_char(r.report_date, 'YY-MM-DD') report_date
			  ,  cm.cm_no
		   from  report r  	
		   join  cm_comment co on (r.cmco_no = co.cmco_no)
		   join  community cm on (co.cm_no = cm.cm_no)
		  where  r.blacklist_no = #{blacklistNo}
		  order
		     by  r.report_no
	</select>
	
	<!-- 관리자 신고 리스트 페이징 처리 -->
	<select id="selectReListCount" resultType="_int">
		select 
				count(*)
		  from  report
	</select>
	
	<!-- 관리자 신고 리스트 조회 -->
	<select id="adminReportList" resultMap="Report">
		select 
				report_no
			 ,  cmco_no
			 ,  report_content
			 ,  to_char(report_date, 'YY-MM-DD') report_date
			 ,  report_type
			 ,  report_status
		  from  report r  	
		 order
		    by  report_no desc
	</select>
	
	<!-- 관리자 신고리스트 - 원본글 확인 -->
	<select id="cmPage" resultType="_int">
		select 
			    distinct cm.cm_no
		  from  report r  	
		  join  cm_comment co on (r.cmco_no = co.cmco_no)
		  join  community cm on (co.cm_no = cm.cm_no)	
		 where  co.cmco_no = #{cmcoNo} 
	</select>

 
</mapper>
