* { margin: 0; padding: 0; box-sizing: border-box; }
body {
font-family: 'Noto Sans KR', sans-serif;
background-color: white;
}
#titleLine{
    width:100%;
    height: 40px;
    background-color: rgb(116, 152, 107);;
}
#titleLine>div{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color:white;
}
form {
background: #eee;
padding: 3px;
position:
fixed;
bottom: 0; 
width: 100%; 
}
form input {
border: 0; 
/* border-radius: 5px; */
padding: 10px; 
width: 90%; 
margin-right:0.5%; 
}
form button {
width: 9%; 
/* border-radius: 5px; */
background: white;
border: none; 
padding: 10px; 
}
#messages { 
list-style-type: none; 
margin: 0; 
padding: 0; 
}