<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<!-- 
		* DTD(Document Type Definition 문서 타입 정의) 
		  XML문서의 구조 및 해당 문서에서 사용할 수 있는 적법한 요소(태그)와 속성을 정의 (이 문서가 유효한지 유효성 검사도 실시)
	-->
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- vo 클래스 별칭(typeAliases) 등록 -->
	<typeAliases>
		<!-- 각자 맡은 vo클래스 별칭 등록하기 -->
		<!-- 깃 배포 전 Member/Notice는 미리 생성해두었어요! -->
		<typeAlias type="com.kh.magicpot.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.kh.magicpot.member.model.vo.Address" alias="Address" />
		<typeAlias type="com.kh.magicpot.notice.model.vo.Notice" alias="Notice" />
		
		<!-- 휘경 -->
		<typeAlias type="com.kh.magicpot.community.model.vo.Community" alias="Community" />
		<typeAlias type="com.kh.magicpot.community.model.vo.CommunityComment" alias="CommunityComment" />
		<typeAlias type="com.kh.magicpot.community.model.vo.CommunityFile" alias="CommunityFile" />
		<typeAlias type="com.kh.magicpot.community.model.vo.CommunityNotice" alias="CommunityNotice" />
		<typeAlias type="com.kh.magicpot.like.model.vo.Like" alias="Like" />
		<typeAlias type="com.kh.magicpot.chat.model.vo.ChatMessage" alias="ChatMessage" />
		<typeAlias type="com.kh.magicpot.chat.model.vo.ChatRoom" alias="ChatRoom" />
		
		<!-- 시은 -->
		<typeAlias type="com.kh.magicpot.project.model.vo.Creator" alias="Creator" />
		<typeAlias type="com.kh.magicpot.project.model.vo.Project" alias="Project" />
		<typeAlias type="com.kh.magicpot.project.model.vo.ProjectRequire" alias="ProjectRequire" />
		<typeAlias type="com.kh.magicpot.project.model.vo.ProjectReward" alias="ProjectReward" />
		<typeAlias type="com.kh.magicpot.project.model.vo.ProjectFile" alias="ProjectFile" />
		
		<!-- 다인 -->
		<typeAlias type="com.kh.magicpot.guide.model.vo.Guide" alias="Guide"/>
		<typeAlias type="com.kh.magicpot.report.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.magicpot.message.model.vo.Message" alias="Message"/>
		
		<!-- 희나 -->
		<typeAlias type="com.kh.magicpot.coupon.model.vo.Coupon" alias="Coupon"/>
		
	</typeAliases>
	
	<!-- mapper 등록 -->
	<mappers>
		<!-- 각자 맡은 mapper 등록하기 -->
		<!-- 깃 배포 전 Member/Notice는 미리 생성해두었어요! -->
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/notice-mapper.xml" />
		
		<!-- 휘경 -->
		<mapper resource="/mappers/chat-mapper.xml" />
		<mapper resource="/mappers/community-mapper.xml" />
		<mapper resource="/mappers/like-mapper.xml" />
		
		<!-- 시은 -->
		<mapper resource="/mappers/project-mapper.xml" />
		
		<!-- 다인 -->
		<mapper resource="/mappers/guide-mapper.xml"/>
		<mapper resource="/mappers/report-mapper.xml"/>
		<mapper resource="/mappers/message-mapper.xml"/>
		
		<!-- 희나 -->
		<mapper resource="/mappers/coupon-mapper.xml"/>
		<mapper resource="/mappers/adminPay-mapper.xml"/>		
	</mappers>
	
</configuration>
