/* .outer 스타일 통일 */
.outer{
    /* height: 700px; */
    /* border: 1px solid red; */
    width: 900px;
    margin: 30px;
    float: left;
}

/* 컨텐트 카테고리 타이틀 영역 */
#contentTitleArea{
    font-family: 'Noto Sans KR', sans-serif;
    width:900px;
    border-bottom: 2px solid lightgray;
    padding:10px;
    margin:20px;
    margin-top: 0;
}
#title1{font-size:25px; font-weight: bold;}
#title2{
    font-size:16px;
    background-color: gray;
    color:white;
    margin-left: 10px;
    border:1px solid gray;
    border-radius: 5px;
    padding:3px;
}

/* 커뮤니티 카테고리 영역  */
#cm_categoryArea{height: 80px; margin-top:70px;}
#cm_categoryArea1{width:500px; height: 100%;}
#cm_categoryArea1>ul{list-style-type: none; }
#cm_categoryArea1>ul>li{float:left;  text-align:center; padding-bottom: 5px;}
#cm_categoryArea1>ul>li a{
    
        padding:7px 30px 7px 30px; 
        font-family: 'Noto Sans KR', sans-serif;
        text-decoration: none;
        color: rgb(116, 152, 107);
        font-size: 17px;
        font-weight: 900;}
#cm_categoryArea1 li:hover{
        border-bottom: 3px solid rgb(116, 152, 107);
        transition: .1s; color:  rgb(116, 152, 107);
    }


/* 커뮤니티 검색+버튼 영역 */
#searchBtnArea div{float: left;}

/* 커뮤니티 검색 영역 */
#cm_SearchCtg, #cm_keyword{
    padding:5px;
    border:1px solid gray;
    border-radius: 4px;
}
#cm_SearchCtg{margin-left: 60px; width:120px;}
#cm_keyword{width:350px; padding-left: 15px; margin-left: 3px;}
#cm_searchArea select{
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

/* 버튼 영역 */
#cm_btnArea a{
    border:none;
    width:80px;
    padding:7px;
    margin-right: 10px;
}
#cm_deleteBtn{
    margin-left: 220px;
    background-color: rgb(252, 99, 99);
}
#cm_deleteBtn:hover{
    background-color: rgb(216, 66, 66);
}

/* 리스트 영역  */
#cmNoticeListArea{ margin-top:50px; text-align:center;}
#cmNoticeList{width:800px;}
#cmNoticeList>tbody a{
    color:black;
    text-decoration: none;
}
#cmNoticeList>tbody>tr:hover{
    background-color: rgb(215, 231, 212);
}

/* 페이징 영역 */
#cm_pagingArea{padding:30px;}
.pagination>li>a{color:rgb(116, 152, 107);}
.pagination>li>a:hover{color:rgb(225, 212, 169);}
#cm_paging{
    width: fit-content;
}

/* 모달 */
.modal-content{width:400px;}
#cmModalFooter{margin-top: 4px; margin-bottom: 25px;}
#cmOkBtn{width:150px; margin-right:10px; padding:8px; background-color: rgb(116, 152, 107); border:none;}
#cmOkBtn, #cmCancleBtn{
    color:white;
    width:150px;
    margin-right:10px;
    padding:8px;
}
#cmOkBtn:hover{background-color: rgb(225, 212, 169);}