/* div, div *{border:1px solid red;} */
div{box-sizing: border-box; }
#outer{
    width:1000px;
    margin:auto;
}

/* 커뮤니티 타이틀 영역 */
#cm_titleArea{
    width:100%;
    height: 220px;
    background-color: rgba(225, 212, 169, 0.233);
    }
#cm_titleArea1 div{float: left;}
#cm_titleArea1{
    height:100%;
    padding:55px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:1.5em;
}
#cm_titleArea1 img{padding:15px;}
#cm_titleArea1 p{font-size:17px;}

/* 카테고리 표시 영역 */
#cm_category{
   height: 35px;
   width: 100px;
   margin:30px;
   border-bottom: 3px solid rgb(116, 152, 107);
   font-family: 'Noto Sans KR', sans-serif;
   color: rgb(116, 152, 107);
   font-size: 17px;
   font-weight:bold
   }

/* 내용영역 */
#cm_infoArea{
    height: 140px;
    font-family: 'Noto Sans KR', sans-serif;
}
#cm_title{font-weight: bold; margin-bottom: 5px; font-size: 17px;}
#cm_info{font-size: small; color:gray;}
#cm_content{margin-top: 30px; margin-bottom:30px;}

#noticeLine{
border-bottom: 1px solid lightgray;
}

/* 댓글 등록 영역 */
    #enrollComment{
        width: 800px;
        border:1px solid lightgray;
        border-radius: 3px;
        margin:30px 10px 30px 10px;
        font-family: 'Noto Sans KR', sans-serif;
    }
    #enrollComment div{
        width:100px;
        margin-top: 5px;
        margin-right:800px;
        font-weight: bolder;
        font-size: small;
    }

    #enrollComment>textarea{
        resize: none;
        border-color: white;
        margin: 10px 20px 0px 20px;
        /* margin-bottom: 0; */
        font-family: 'Noto Sans KR', sans-serif;
        
    }
    #enrollComment a{
        background-color: gray;
        border:none;
        margin-left: 730px;
        margin-bottom: 7px;
    }

    .writerBtn{
       background-color: white;
       color: rgb(116, 152, 107);
       border: 1px solid rgb(116, 152, 107);
       border-radius: 4px;
       padding: 2px 4px 2px 4px; 
       font-size: 11px;
       font-weight: bold;
   }

   /* 댓글 수 노출 영역 */
   #commentCount{
       width:800px;
       margin:10px 0px 20px 0px;
   }

   /* 댓글 영역 */
   .cmComment{
    border-bottom: solid 1px lightgray;
    /*border:solid 1px rgba(211, 211, 211, 0.514);
    border-radius:5px;
    margin-bottom:5px;
    padding:10px;*/
   }
   #commentArea{
       /* height: 80px; */
       font-family: 'Noto Sans KR', sans-serif;
       /*margin:15px 0px 15px 0px;*/
       padding:15px 0px 15px 0px;
    }
    #commentArea div{
        padding:2px;
        /* margin:5px; */
    }
    #commentArea a{
        text-decoration: none;
        color:gray;
    }
    #enrollComment>a{
    	background-color: gray;
    	color:white;
    }
    #commentArea3 {font-size: small;color:lightgray;
    }
    #commentLine{
    border-bottom: 1px solid lightgray;
    width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    .reComment:hover, .deleteComment:hover, .updateCommentForm:hover{
    	cursor:pointer;
    	
    }

    /* 대댓글 등록 영역 */
    #reComment{
        font-size: medium;
        /*width: 800px;*/
        width:98%;
        border:1px solid lightgray;
        border-radius: 3px;
        margin:0px 0px 30px 0px;
        font-family: 'Noto Sans KR', sans-serif;
    }
    #reComment>textarea{
        resize: none;
        border-color: white;
        margin: 10px 20px 0px 20px;
        /* margin-bottom: 0; */
        font-family: 'Noto Sans KR', sans-serif;
    }
    #reComment a{
        /* background-color: gray; */
        border:none;
        margin-bottom: 7px;
    }

    #reComment div{
        width:100px;
        margin-top: 5px;
        margin-right:800px;
        font-weight: bolder;
        font-size: small;
    }
    #reComment a{
        border:none;
        /* margin-left: 730px; */
        margin-bottom: 7px;
        background-color: gray;
        color:white;
    }

    /* 버튼 영역 */
    #btnArea {
        margin:20px 0px 20px 0px;
    }
    /* 버튼 영역 */
    #btnArea a{
            border:none;
            width:80px;
            margin-top: 15px;
            padding:7px;
            margin-left: 10px;
            background-color: rgb(116, 152, 107);
        }
    #btnArea a:hover{
        background-color: rgb(225, 212, 169);
    }

/* 버튼 영역 */
#btnArea {
    margin:20px 0px 20px 0px;
}
/* 버튼 영역 */
#btnArea a{
        border:none;
        width:80px;
        margin-top: 15px;
        padding:7px;
        margin-left: 10px;
        background-color: rgb(116, 152, 107);
    }
#btnArea a:hover{
    background-color: rgb(225, 212, 169);
}

/* 글쓴이 버튼 영역 */
#WriterBtnArea {
    margin:0px 0px 5px 0px;
}
/* 글쓴이 버튼 영역 */
#WriterBtnArea2 a{
        border:none;
        width:80px;
        margin-top: 15px;
        padding:7px;
        margin-left: 10px;
        color:white;
        background-color: rgb(116, 152, 107);
    }
#WriterBtnArea2 a:hover{
    background-color: rgb(225, 212, 169);
}

/* 커뮤니티 게시글 삭제 모달 */
#cmDeleteBtn>div{width:400px;}
#cmModalFooter{margin-top: 4px; margin-bottom: 25px;}
#cmOkBtn{width:150px; margin-right:10px; padding:8px; background-color: rgb(116, 152, 107); border:none;}
#cmOkBtn, #cmCancleBtn{
    color:white;
    width:150px;
    margin-right:10px;
    padding:8px;
}
#cmOkBtn:hover{background-color: rgb(225, 212, 169);}
textarea:focus {
    outline: none;
}


/* 신고 관련 css 수정 시 이 문서에 작성해주시면 되고 혹시 모르니 말씀 해주세용!!*/