/* div, div *{border:1px solid red;} */
div{box-sizing: border-box; }
#outer{
    width:1000px;
    margin:auto;
}

/* 커뮤니티 타이틀 영역 */
#cm_titleArea{
    width:100%;
    height: 220px;
    background-color: rgba(225, 212, 169, 0.233);
    }
#cm_titleArea1 div{float: left;}
#cm_titleArea1{
    height:100%;
    padding:55px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:1.5em;
}
#cm_titleArea1 img{padding:15px;}
#cm_titleArea1 p{font-size:17px;}

/* 카테고리 표시 영역 */
#cm_category{
   height: 35px;
   width: 100px;
   margin:30px;
   border-bottom: 3px solid rgb(116, 152, 107);
   font-family: 'Noto Sans KR', sans-serif;
   color: rgb(116, 152, 107);
   font-size: 17px;
   font-weight:bold
   }

/* 내용영역 */
#cm_infoArea{
    height: 140px;
    font-family: 'Noto Sans KR', sans-serif;
}
#cm_title{font-weight: bold; margin-bottom: 5px; font-size: 17px;}
#cm_info{font-size: small; color:gray;}
#cm_content{margin-top: 30px;}
#cm_content pre{
    font-family: 'Noto Sans KR', sans-serif;
    
    width: 700px; 
    border:1px solid lightgray;
    border-radius: 5px;
    padding:50px 20px 50px 20px;
    }

#noticeLine{
border-bottom: 1px solid lightgray;
}

.writerBtn{
   background-color: white;
   color: rgb(116, 152, 107);
   border: 1px solid rgb(116, 152, 107);
   border-radius: 4px;
   padding: 2px 4px 2px 4px; 
   font-size: 11px;
   font-weight: bold;
}

/* 버튼 영역 */
#btnArea {
    margin:20px 0px 20px 0px;
}
/* 버튼 영역 */
#btnArea a{
        border:none;
        width:80px;
        margin-top: 15px;
        padding:7px;
        margin-left: 10px;
        background-color: rgb(116, 152, 107);
    }
#btnArea a:hover{
    background-color: rgb(225, 212, 169);
}